.navbar {
    background-color: #1754b0;
    color: #fff;
    padding: 10px;
    margin-bottom: 3vh;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: 20px;
    margin: 0;
    /* color: #fff; */
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-option {
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.amount-container {
    background-color: #fff;
    color: #1754b0;
    padding: 5px 10px;
    border-radius: 50%;
}

.total-amount {
    font-size: 14px;
    margin: 0;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown .dropbtn {
    color: #fff;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.dropdown-content a {
    color: #495057;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1754b0;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}
.nav-title{
    text-decoration: none;
}