.allergen-filter {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 20px;
}

.allergen-filter button {
border: none;
border-radius: 5px;
}
.no-transition {
    transition: none !important;
}